@model restauracjaTI.Models.DbModels.RodzajDania

@{
    ViewBag.Title = "Edit";
}

<div class="container-main">

    <h2>Edytuj rodzaj dań</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.RodzajDaniaId)

            <div class="form-group">
                @Html.LabelFor(model => model.NazwaRodzaju, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NazwaRodzaju, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NazwaRodzaju, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zapisz" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Wróć do listy rodzajów dań", "ViewAll")
    </div>

</div>
